system {
    host-name {{ device.host_name }};
    services {
        ssh {
            root-login allow;
        }
        netconf {
            ssh;
        }
    }
}
interfaces {
{% for int in link %}
    {{ int.interface }} {
        unit 0 {
            description "{{ int.name }}";
            family inet {
                address {{ int.ip }}/{{ int.subnet }};
            }
        }
    }
{% endfor %}
{% for loopback in loopback %}
    {{ loopback.interface }} {
        unit 0 {
            description "{{ loopback.name }}";
            family inet {
                address {{ loopback.ip }};
            }
        }
    }
{% endfor %}
}
protocols {
    lldp {
        interface all;
    }
    bgp {
        group underlay {
            import bgp-in;
            export bgp-out;
            type external;
            local-as {{ device.asn }};
            multipath multiple-as;
{% for int in link %}{% if int.neighbor is defined %}
            neighbor {{ neighbor[int.neighbor].peer_ip }} {
                peer-as {{ neighbor[int.neighbor].asn }};
            }
{%endif%}{%endfor%}
        }
    }
}
routing-options {
    router-id {{ loopback.0.ip }};
    forwarding-table {
        export bgp-ecmp;
    }
}

policy-options {
    policy-statement bgp-ecmp {
        then {
            load-balance per-packet;
        }
    }
    policy-statement bgp-in {
        then accept;
    }
    policy-statement bgp-out {
        then accept;
    }
}